<div class="matrix-wrap">
  <table class="matrix">
    <thead><tr><th></th><th scope="col">elf-keeper</th><th scope="col">orc-security</th><th scope="col">slime-auth</th></tr></thead>
    <tbody>
      <tr><th scope="row">elf-keeper</th><td></td><td data-bond="verdict" title="verdict"></td><td></td></tr>
      <tr><th scope="row">orc-security</th><td data-bond="verdict"></td><td></td><td data-bond="truth" data-hot></td></tr>
      <tr><th scope="row">slime-auth</th><td></td><td data-bond="truth"></td><td></td></tr>
    </tbody>
  </table>
</div>
